body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero{
    background-image: url(../ProjetoCSS/imagens/bg-4.jpg);
    height: 570px;
    background-size: cover;
    background-position: top center;
}

.hero-banner{
    margin: 100px auto;
}

.hero-banner h1{
    text-align: center;
    height: 130px;
    text-transform: uppercase;
    font-size: 70px;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding-top: 13px;
}

.hero-banner p{
    text-align: center;
    color: white;
    font-size: 20px;
    background-color: rgba(0,0,0, .7);
    border-bottom: 2px solid;
    padding: 3px;
    width: 450px;
    margin: auto;
}

.hero nav ul{
    margin: 0 90px 0 15px;
    text-align: right;
    padding-top: 20px;
    color: #fff;
}

.hero nav li{
    display: inline-block;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    margin-left: 13px;
}

.hero nav li a {
    background-color: rgba(0,0,0, .4);
    text-decoration: none;
    padding: 16px;
    display: block;
    text-decoration: none;
    color: #fff;
}

.hero nav li a:hover{
    background-color: rgba(0,0,0, .7);
}

article{
    width: 90%;
    margin:auto;
    max-width: 890px;
    background-color: #fff;
    padding: 18px;
    margin-bottom: 32px;
    border-radius: 4px;
}

section{
    margin-top: 32px;
}

article h2{
    padding: 5px;
    background-color: #e2e2e2;
    border-bottom: 2px solid rgb(165, 165, 165);
    margin: 0;
}

article a{
    background-color: #ccc;
    display: block;
    padding: 11px;
    border-radius: 5px;
    text-align: left;
    margin-left:auto;
    width: fit-content;

}

article a:hover{
    background-color: #e4e4e4;
}

article a:active{
    color: rgb(0, 0, 0);
}

footer{
    background-color: #7b7b7b;
    padding: 20px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 1px 3px black;
}